[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
black = "*"
bump2version = "*"
pytest = "*"
coverage = "*"
tox = "*"

[packages]
neoask = {path = ".",editable = true}
flask = "*"
python-dotenv = "*"
loguru = "*"
waitress = "*"

[requires]
python_version = "3.8"
