[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
black = "*"
bump2version = "*"

[packages]
gInfer = {path = ".",editable = true}
fastapi = "*"
uvicorn = "*"
py2neo = "*"
loguru = "*"
pandas = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
