{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<section>
<form method="post">
  <header>
      <h2>Register</h2>
  </header>
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
    <p><small>Have an account? <a href="/auth/login">LogIn Here.</a></small></p>
    <button type="submit">Submit</button>
  </form>
</section>
{% endblock %}
